{% load static %}

<div class="col-lg-3"><!-- start side bar -->
    <form action="{% url 'course:filter' %}">
        <div class="card bg-white shadow-sm p-2 mb-3"><!-- start box-2 -->

            <p class="font-13 mt-3"><i class="fa fa-chevron-left align-middle font-12 text-info me-1"></i>نوع
                دوره</p>

            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" value="True" name="price" id="item-1">

                <label class="form-check-label font-12" for="item-1">رایگان</label>

            </div>


            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" value="False" name="price" id="item-2">

                <label class="form-check-label font-12" for="item-2">نقدی</label>

            </div>


        </div><!-- end box-1 -->

        <div class="card bg-white shadow-sm p-2 mb-3"><!-- start box-2 -->

            <p class="font-13 mt-3"><i class="fa fa-chevron-left align-middle font-12 text-info me-1"></i>مرتب
                سازی براساس </p>

            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" name="time" value="new" id="item-4">

                <label class="form-check-label font-12" for="item-4">جدیدترین</label>

            </div>

            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" name="time" value="old" id="item-5">

                <label class="form-check-label font-12" for="item-5"> قدیمی ترین </label>

            </div>

            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" name="status" value="False" id="item-6">

                <label class="form-check-label font-12" for="item-6">درحال برگزاری</label>

            </div>

            <div class="form-check mb-2">

                <input type="radio" class="form-check-input" name="status" value="True" id="item-7">

                <label class="form-check-label font-12" for="item-7">تکمیل شده ها </label>

            </div>

        </div><!-- end box-2 -->

        <div class="card bg-white shadow-sm p-2 mb-3"><!-- start box-3 -->


            <p class="font-13 mt-3"><i class="fa fa-chevron-left align-middle font-12 text-info me-1"></i>سرفصل
                ها </p>
            {% for tag in tags %}
                <div class="form-check mb-2">

                    <input type="radio" class="form-check-input" value="{{ tag }}" name="tag" id="item-8">

                    <label class="form-check-label font-12" for="item-8">{{ tag }}</label>

                </div>
            {% endfor %}


        </div><!-- end box-3 -->
        <div class="card bg-white shadow-sm p-2 mb-3">
            <div class="form-check mb-2">

                <button type="submit" class="form-control">اعمال فیلتر</button>

            </div>
        </div>
    </form>

</div>
