{% load static %}
<footer class="bg-light"><!-- start footer -->

    <div class="container py-3">

        <div class="row">

            <div class="col-lg-4"><!-- start footer info -->

                <img src="{% static 'images/footer-logo.jpg' %}" alt="Daneshar" class="mb-2">

                <p class="line-height font-13 mb-4">
                    {{ ways.short_description }}
                </p>
                {% for way in ways.ways.all %}
                    <p class="font-13"><i class="fas fa-{{ way.name }} text-muted me-2"></i>{{ way.value }}</p>

                {% endfor %}
            </div><!-- end footer info -->

            <div class="col-lg-4 col-md-6 text-center footer-links mb-4"><!-- start footer links -->

                <span class="mt-5 pt-2 d-block">با دانشیار </span>

                <ul class="ps-0">

                    <li class="my-3"><a href="{% url 'contactus:create' %}" class="font-13 text-dark">درباره دانشیار</a>
                    </li>

                    <li class="my-3"><a href="{% url 'contactus:create' %}" class="font-13 text-dark">تماس با
                        دانشیار</a></li>

                    <li class="my-3"><a href="{% url 'contactus:create' %}" class="font-13 text-dark">شرایط استفاده</a>
                    </li>

                    <li class="my-3"><a href="{% url 'contactus:create' %}" class="font-13 text-dark">پاسخ به پرسش‌های
                        متداول</a></li>

                </ul>

            </div><!-- end footer links -->

            <div class="col-lg-4 col-md-6">

                <div class="row">

                    <div class="col-lg-12 d-flex justify-content-end footer-pics"><!-- start footer pics -->

                        <img src="{% static 'images/footer1.png' %}" class="footer-pic">

                        <img src="{% static 'images/footer2.png' %}" class="footer-pic">

                    </div><!-- end footer pics -->


                </div><!-- end share email box -->

            </div>

        </div>

    </div>

    <div class="row"><!-- start social media box -->

        <div class="col-md-12 text-center py-2">

            {#            <p class="font-13 my-4"> کلیه حقوق این سایت متعلق به یاس دیزاین است .</p>#}
            {% for social in socials %}
                <a href="{{ social.link }}"><i class="fab fa-{{ social.name }} social-media"></i></a>
            {% endfor %}
        </div>

    </div><!-- end social media box -->

    <a href="#" class="topbutton"></a><!-- bottom to top btn -->

    </div>

</footer>