{% load static %}

<header class="d-none d-lg-block container"><!-- start header -->

    <div class="row py-2">

        <div class="col-lg-2"><img src="{% static 'images/logo.jpg' %}" alt="Daneshyar"></div><!-- logo -->

        {% include 'includes/search_box.html' %}<!-- end search box -->

        <div class="col-lg-2 d-flex align-items-center justify-content-end"><!-- start shopping bag-->

            <a href="#shopping-bag" class="position-relative me-5" data-bs-toggle="offcanvas"><img
                    src="{% static 'images/bag.png' %}" class="shopping-bag-icon">

                <div class="count">{{ cart.cart_len }}</div>
            </a>

            <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-bag">
                <!-- start shopping bag side bar -->

                <div class="offcanvas-header mb-3"><!-- start bag header -->

                    <p class="offcanvas-title font-12">سبد خرید ({{ cart.cart_len }} کالا)</p>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>

                </div><!-- end bag header -->

                <div class="offcanvas-body"><!-- start bag body -->
                    {% for item in cart %}
                        <div class="cart-item d-flex align-items-center justify-content-between">
                            <!-- start cart item -->

                            <a href="{% url 'course:detail' item.course.slug %}"><img src="{{ item.image }}"></a>

                            <div class="cart-item-detail">

                                <a href="{% url 'course:detail' item.course.slug %}">{{ item.name }}</a>

                                <p class="font-12 text-muted mt-3">{{ item.price }} تومان</p>

                            </div>

                            <a href="{% url 'cart:remove-item' item.unique %}" class="delete-item"><i
                                    class="fa fa-times"></i></a>

                        </div><!-- end cart item -->
                    {% endfor %}


                </div><!-- end bag body -->

                <div class="d-flex justify-content-between align-items-center px-3">

                    <p class="font-13">مبلغ کل :</p>

                    <p class="font-13">{{ cart.total }} تومان</p>

                </div>

                <a href="{% url 'cart:order-create'  %}" class="btn btn-info font-13 m-2 p-2">پرداخت</a>

                <a href="{% url 'cart:detail' %}" class="btn btn-secondary font-13 m-2 p-2">مشاهده سبد خرید</a>

            </div><!-- end shopping bag side bar -->

        </div><!-- end shopping bag-->

        <div class="col-lg-2 d-flex align-items-center justify-content-end signup-login"><!-- satrt signup & login -->


            {% if request.user.is_authenticated %}
                <a href="{% url 'account:user_panel' request.user.username %}" class="btn-signup">ورود به حساب</a>

                <a href="{% url 'account:logout' %}" class="btn-login">خروج</a>
            {% else %}
                <a href="{% url 'account:signup' %}" class="btn-signup">ثبت نام</a>

                <a href="{% url 'account:login' %}" class="btn-login">ورود</a>

            {% endif %}

        </div><!-- end signup & login -->

    </div>

</header><!-- end header -->


{% include 'includes/responsive_header.html' %}<!-- start responsive header -->