{% load static %}
{% load render_partial %}
<nav class="d-none d-lg-block navigation shadow-sm"><!-- start nav menu -->

    <div class="container">

        <ul class="main-menu">

            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>

            <li><a href="#">دوره های آموزشی<i class="fa fa-angle-down align-middle ms-1"></i></a>

                <ul class="mega-menu row ps-0"><!-- start mega menu -->

                    {% render_partial 'course:partial_view' %}

                </ul><!-- end mega menu -->

            </li>

            <li><a href="#">صفحات<i class="fa fa-angle-down align-middle ms-1"></i></a>

                <ul class="sub-menu"><!-- start sub menu -->
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'account:signup' %}">ثبت نام</a></li>

                        <li><a href="{% url 'account:login' %}">ورود</a></li>

                        <li><a href="{% url 'account:password_reset' %}">فراموشی رمز عبور</a></li>
                    {% else %}
                        <li><a href="{% url 'account:user_panel' request.user.username %}">پروفایل کاربر</a></li>

                        <li><a href="teach.html">درخواست تدریس</a></li>

                        <li><a href="{% url 'cart:detail' %}">سبد خرید </a></li>
                    {% endif %}

                    <li><a href="404.html">صفحه 404</a></li>

                </ul><!-- end sub menu -->

            </li>

            <li><a href="{% url 'blog:list' %}">بلاگ</a></li>

            <li><a href="{% url 'contactus:create' %}">تماس با ما</a></li>

        </ul>

    </div>

</nav>