{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> دانشیار | بازیابی رمز عبور </title>
</head>
<body class="bg-light">

<div class="container">

    <div class="row px-2">

        <div class="col-lg-6 col-md-7 col-10 mx-auto bg-white mt-5 rounded shadow-sm py-3">

            <img src="{% static 'images/logo.jpg' %}" alt="Daneshyar" class="d-block mx-auto mb-4"><!-- logo -->

            <h1>بازیابی رمز عبور</h1>
            <p>ایمیل بازیابی رمز عبور به زودی برای شما ارسال خواهد شد.</p>

        </div>

    </div>

</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>